// apply to all elements in site
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $regular-font;
    color: var(--dark);
}

// base styles for page

a{
    text-decoration: none;
    color: var(--main);
}

button{
    cursor: pointer;
}


//type

@mixin heading($size) {
    font-family: $header-font;
}

.heading {
    font-family: $header-font;

    & + p{
        margin-top: $defValpx;
    }

	&--lg {
		font-size: 72px;

		@supports (font-size: clamp(48px, 5vw, 80px)) {
			font-size: clamp(48px, 5vw, 80px);
		}
	}
}

$fontSizes: (
    "1": (
        "min":14px,
        "max": 22px
    ),
    "2": (
        "min":22px,
        "max": 32px
    ),
    "3": (
        "min":32px,
        "max": 40px
    ),
    "4": (
        "min":40px,
        "max": 52px
    ),
    "5": (
        "min":52px,
        "max": 64px
    ),
    "6": (
        "min":64px,
        "max": 78px
    ),
);


.txt{
    &--p{
        font-family: $regular-font;
    }

    &--h{
        font-family: $header-font;
    }

    @each $size, $value in $fontSizes {
        &-#{$size}{
            font-size: map-get($map: $value, $key: "max");

            @supports (font-size: clamp(48px, 5vw, 80px)) {
                font-size: clamp(#{map-get($map: $value, $key: "min")}, 5vw, #{map-get($map: $value, $key: "max")});
            }
        }
    }
}
