// fonts
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');



// colors
$main: #2087ea;
$main-trans: rgba(32, 136, 234, 0.12);
$main-2: #4810ff;
$main-2-trans: hsla(254, 100%, 53%, 0.12);
$main-gradient: linear-gradient(135deg, $main, $main-2);
$dark: #202229;
$dark-trans: rgba(32, 34, 41, 0.08);
$bg: #fff;
$bg-trans: rgba(255, 255, 255, 0.12);
$bg-2: #ececec;
$bg-2-trans: rgba(236, 236, 236, 0.12);

$colorsList : (
    "main" : $main,
    "main-2" : $main-2,
    "dark" : $dark,
    "bg" : $bg,
    "bg-2" : $bg-2,
);

$colorsList-grad : (
    "main-gradient" : $main-gradient
);

$colorsListVar : (
    "main" : var(--main),
    "main-2" : var(--main-2),
    "dark" : var(--dark),
    "dark-trans" : var(--dark-trans),
    "bg" : var(--bg),
    "bg-2" : var(--bg-2),
);

$colorsList-gradVar : (
    "main-gradient" : var(--main-gradient)
);

$colorListObj: (
    "main": (
        "main":var(--main),
        "alt": var(--bg)
    ),
    "dark": (
        "main":var(--dark),
        "alt": var(--bg)
    ),
    "dark-trans": (
        "main":var(--dark-trans),
        "alt": var(--bg)
    ),
    "bg": (
        "main": var(--bg),
        "alt": var(--main)
    ),
    "bg-2": (
        "main": var(--bg-2),
        "alt": var(--main)
    )
);

$colorListObj-grad: (
    "main-gradient": (
        "main":var(--main-gradient),
        "alt": var(--bg)
    )
);



// variables
$defValpx: 10px;
$defValEm: 1em;

// type
$header-font: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
$regular-font: 'Lato', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// layout
$breakpoints : (
	"widths" : (
		420,
        1120,
        1240
	)
);

:root {
    --main: #{$main};
    --main-trans: #{$main-trans};
    --main-2: #{$main-2};
    --main-gradient: #{$main-gradient};
    --dark: #{$dark};
    --dark-trans: #{$dark-trans};
    --bg: #{$bg};
    --bg-2: #{$bg-2};

    --defValpx: #{$defValpx};
    --defValEm: #{$defValEm};
}

